:root {
  --color-primary: rgba(75, 98, 133, 1);
  --color-pri-compl-light: rgba(193, 218, 255, 1);
  --color-pri-compl-dark: rgba(16, 22, 31, 1);

  --color-secondary: ;
  --color-sec-compl-light: ;
  --color-sec-compl-dark: ;

  --space-size-none: 0px;
  --space-size-xs: 6px;
  --space-size-s: 9px;
  --space-size-m: 12px;
  --space-size-l: 15px;
  --space-size-xl: 18px;

  --font-size-xs: 9px;
  --font-size-s: 12px;
  --font-size-m: 18px;
  --font-size-l: 21px;
  --font-size-xl: 27px;
  --font-size-logo: 30px;

  --border-size-xs: 1px;
  --border-size-s: 2px;
  --border-size-m: 3px;
  --border-size-l: 4px;
  --border-size-xl: 5px;

  --border-radius-soft1: 9px;
  --border-radius-soft2: 12px;
  --border-radius-soft3: 24px;
  --border-radius-rounded: 100px;
  --border-radius-circle: 100%;

  --max-size-sidebar: calc((var(--regular-size-0) * 4) - 24px);
  --natural-transition: 0.3s;

  --regular-size-0: 56px;
  --regular-size-1: 80px;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

/* ===================================== */
/* Header styles                         */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 56px;
  padding: var(--space-size-m);
  background: var(--color-pri-compl-dark);
}

header span,
header p {
  font-size: var(--font-size-logo);
  color: rgb(255, 255, 255);
}

header .content__logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 256px;
}



/* ===================================== */
/* Main styles                           */
main {
  position: fixed;
  top: var(--regular-size-1);
  left: var(--regular-size-1);
  width: calc(100vw - var(--regular-size-1));
  height: calc(100vh - var(--regular-size-1));
  padding: var(--space-size-l);
  overflow-y: scroll;
}
